@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  font-family: "Space Grotesk", sans-serif;
  margin : 0;
}


.container {
  display: flex;
  position: relative; 
}

.image-container {
  width: 33.33%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100vh;
  position: relative;
 
}


.front-card {
  background: url("./images/bg-card-front.png");
  width: 21rem;
  height: 12rem;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 1px rgba(54, 54, 54, 0.5);
}

.front-card-internals{
  padding: 1.5rem;
  
}

.front-card img {
  height: 2.5rem;
  width: auto;
 
}

.front-card h2 {
  font-size: 1.5rem;
  font-weight: 170;
  color: hsl(0, 0%, 100%);
  letter-spacing: .1rem;
  padding-top: 2rem;
  display: flex;
}

.last-column {
  display: flex;
  justify-content: space-between;
  letter-spacing: .12rem;
  font-size: .8rem;
  padding-top: 1.2rem;
  color: hsl(0, 0%, 100%);
}

.back-card {
  background: url("./images/bg-card-back.png");
  width: 21rem;
  height: 12rem;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 65%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 1px rgba(54, 54, 54, 0.5);
}

.card-cvc {
  position: relative;
  top: 43%;
  left: 82%;
  color: hsl(0, 12%, 97%);
}



.form-container {
  width: 66.67%;
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 22rem;
}

.form-row {
  margin-bottom: 20px;
}

label {
  font-size: .7rem;
  letter-spacing: .1rem;
  margin-bottom: .7rem;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.expiry-date {
  display: flex;
  gap: .6rem;

}

.line-three{
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

button[type="submit"] {
  padding: 0.7rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

button[type="submit"]:hover {
  background-color: hsl(278, 74%, 21%);
}

.submit-button button{
  width: 100%;
}



.thank-you-page {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  align-items: stretch;
  width: 22rem;
  height: auto;
}

.thank-you-page img {
  width: 5rem;
  align-self: center;
}

.thank-you-page h1 {
  letter-spacing: .3rem;
  font-weight: 80;
  font-size: 1.55rem;
  color: rgb(41, 39, 39);
  align-self: center;
}

.thank-you-page h5 {
  color: rgb(136, 139, 141);
  letter-spacing: .1rem;
  align-self: center;
  font-weight: 100;

}

.thank-you-page .submit-button {
  margin-top: 2rem;
}
